<<<<<<< HEAD
<Jumbo>
=======
<div class="jumbo">
  <div class="right tomster"></div>
>>>>>>> 15f3336 (initial test and about route)
  <h2>About Super Rentals</h2>
  <p>
    The Super Rentals website is a delightful project created to explore Ember.
    By building a property rental site, we can simultaneously imagine traveling
    AND building Ember applications.
  </p>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>
=======
=======
  {{#link-to "contact" class="button"}}
    Contact Us
  {{/link-to}}
<<<<<<< HEAD
>>>>>>> 29abb35 (linked contact and about)
=======
|
  {{#link-to "rentals" class="button"}}
    Rentals
  {{/link-to}}
>>>>>>> 7bd89d1 (adding rental content)
=======
>>>>>>> 362a642 (updated application template, added header nav, removed page links on all pages)
</div>

{{outlet}}
>>>>>>> 15f3336 (initial test and about route)
